<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
<div class="container">
    <h1>Transforming Crime Scene Investigations Through the Integration of Artificial Intelligence in Digital Forensics</h1>
    <p> Artificial Intelligence enhances digital forensics by quickly analyzing large volumes of data such as CCTV footage, devices, and online records to identify crucial evidence.</p>
    <a href="/login"><button class="btn btn-login">Login</button></a>
    <a href="/register"><button class="btn btn-logout">Register</button></a>
</div>
</body>
</html>