{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body class="auth-body">
<div class="auth-container">
    
    {% if error %}
    <p style="color:#ff0000;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label style=color:black>username</label>
        <input type="text" name="username" placeholder="username"><br><br>
        <label style=color:black>email</label>
        <input type="email" name="email" placeholder="email"><br><br>
        <label style=color:black>password</label>
        <input type="password" name="password" placeholder="password"><br><br>
       
        <button type="submit">Register</button>

    </form>
</div>   
</body>
</html>